
@{
    ViewData["Title"] = "Dept";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            Dept
        </div>
        <div class="card-body">
            <a asp-controller="Dept" asp-action="GetList" >List of Department</a>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
